### <b> Course: Machine Learning for Absolute Beginners - Level 2
#### By: Idan Gabrieli
#### Exercise: #1 - Python Fundamentals
*****************************

### Step 1 - Variables and Data Types

Create the following variables:<br> 
num1=100<br>
num2=300.0<br>
str1="I would to learn data science"<br>
list1=['A', 'B', 'C']<br>
bol1=True

In [1]:
num1 = 100
num2 = 300.0
str1 = 'I would like to learn data science'
list1 = ['A', 'B', 'C']
bol1 = True

Check the type of each variable that you created using the type() function. <br>

In [3]:
type(num1)
type(num2)
type(str1)
type(list1)
type(bol1)

bool

Print the value of each variable using the print() function.

In [4]:
print(num1)
print(num2)
print(str1)
print(list1)
print(bol1)

100
300.0
I would like to learn data science
['A', 'B', 'C']
True

Using one line assign the same value "100" to the following variables: num1, num2, num3.

In [ ]:
num1 = num2 = num3 = 100

Using one line assign the following values to the following variables: num1=10, num2=20, num3=30.

In [ ]:
num1, num2, num3 = 10, 20, 30

Check the size of the str1 string variable.

In [ ]:
len(str1)

Print in upper case and also in lower case the str1 variable (tip - use the tab completion to see the list of methods).

In [5]:
print(str1.upper())
print(str1.lower())

I WOULD LIKE TO LEARN DATA SCIENCE
i would like to learn data science

Print the result (True or False) of checking if the text "data" exist in str1 using the in operator.

In [6]:
'data' in str1

True

Split str1 into substrings using the split method and store the result in a list variable called list1. Print list1.

In [7]:
list1 = str1.split(' ')
print(list1)

['I', 'would', 'like', 'to', 'learn', 'data', 'science']

Define the following variables: Name='David', Phone='12345678'
and then print the following message using the the f-string formatting: "My name is David and my phone number is 12345678"

In [8]:
Name = 'David'
Phone = '12345678'
print(f'My name is {Name} and my phone number is {Phone}')

My name is David and my phone number is 12345678

### Step 2 - Lists

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [10]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
print(colors)

['Red', 'Yellow', 'Green', 'Black', 'White']

Print the second color in the colors list.

In [11]:
colors[1]

'Yellow'

Sort and print the colors list in alphabetical order using the sort method.

In [12]:
colors.sort()
print(colors)

['Black', 'Green', 'Red', 'White', 'Yellow']

Add the the "Blue" color to the colors list and print the updated list.

In [13]:
colors.append('Blue')
print(colors)

['Black', 'Green', 'Red', 'White', 'Yellow', 'Blue']

Remove the color 'Green' from the list by using the value and print the updated list.

In [14]:
colors.remove('Green')
print(colors)

['Black', 'Red', 'White', 'Yellow', 'Blue']

Check the size of a list.

In [15]:
len(colors)

5

Create the following two lists: list1 = ['A','B','C'], list2 = ['D','E','F','G'] and then concatenate the two lists into list3 by using the + operator. Print list3.

In [17]:
list1 = ['A','B','C']
list2 = ['D','E','F','G']
list3 = list1 + list2
print(list3)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Print items 'B', 'C' and 'D' from list3 using the slicing notation.

In [18]:
list3[1:4]

['B', 'C', 'D']

Print items 'C' until the end of list3 using the slicing notation.

In [19]:
list3[2:]

['C', 'D', 'E', 'F', 'G']

Copy list3 into a list4 using the slicing notation.

In [20]:
list4 = list3[:]

Create the following tuple variable: tuple1=(1,2,3,4,5) and print it.

In [22]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)

(1, 2, 3, 4, 5)

Try to change the first item in the tuple list to the number 7.

In [23]:
tuple1[0] = 7

TypeError: 'tuple' object does not support item assignment

### Step 3 - IF and For-Loop Statements

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [24]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
print(colors)

['Red', 'Yellow', 'Green', 'Black', 'White']

Print "Yes" if the "Black" value inside the colors list.

In [25]:
if 'Black' in colors:
    print('Yes')

Yes

Print "Yes" if the "Black" value inside the colors list and the "Pink" value is not inside the colors list, otherwise print "No".

In [26]:
if ('Black' in colors) and ('Pink' not in colors):
    print('Yes')
else:
    print('No')

Yes

Create the following variable: num1=50. Print 'More than 100' if the num1>=100. Print 'More than 40' if num1>=40.

In [27]:
num1 = 50
if num1 >= 100:
    print('More than 100')
elif num1 >= 40:
    print('More than 40')

More than 40

Scan the colors list and per each item in the list print the value and the index location.

In [29]:
for color in colors:
    print(f'Value: {color}, Index: {colors.index(color)}')

Value: Red, Index: 0
Value: Yellow, Index: 1
Value: Green, Index: 2
Value: Black, Index: 3
Value: White, Index: 4

Print the numbers 1 to 30 using the range() function.

In [36]:
for i in range(1, 31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

Print the calculation of multiplying the numbers 10,15,20 with the numbers 1,2,3,4,5,6,7,8,9,10 (tip - use nested loops and the range function).

In [39]:
for i in [10, 15, 20]:
    for j in range(1, 11):
        print(f'{i} * {j}: {i * j}')

10 * 1: 10
10 * 2: 20
10 * 3: 30
10 * 4: 40
10 * 5: 50
10 * 6: 60
10 * 7: 70
10 * 8: 80
10 * 9: 90
10 * 10: 100
15 * 1: 15
15 * 2: 30
15 * 3: 45
15 * 4: 60
15 * 5: 75
15 * 6: 90
15 * 7: 105
15 * 8: 120
15 * 9: 135
15 * 10: 150
20 * 1: 20
20 * 2: 40
20 * 3: 60
20 * 4: 80
20 * 5: 100
20 * 6: 120
20 * 7: 140
20 * 8: 160
20 * 9: 180
20 * 10: 200

### Step 4 - Functions

Define a function called check_color that is getting as input a list of colors and also a color value. If the color value exist in the list it will return 'Yes', otherwise it will return 'No'.

In [43]:
def check_color(color_list, color):
    """Checks if color exists in color_list"""
    if color in color_list:
        print('Yes')
    else:
        print('No')

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and then call the function check_color to check if the 'Green' color in that list.

In [41]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
check_color(colors, 'Green')

Yes

Call the function check_color to check if the 'Pink' color in that list but this time while passing a copy of that list (tip - use the slice notation).

In [42]:
check_color(colors[:], 'Pink')

No

Add a docstring comment to the check_color function definion and then ask Python to display information about the function (tip - use the ? mark).

In [44]:
check_color?

Signature: check_color(color_list, color)
Docstring: Checks if color exists in color_list
File:      /var/folders/0p/fnlsdkq159s9phmzxxmms5pc0000gn/T/ipykernel_63777/2756644523.py
Type:      function

### Step 5 - Dictionaries

Create the following dictionaries friend1, friend2, friend3 with the following info:<br>friend1 with 'Name':'David', 'Age':34, 'Phone':556677.<br>friend2 with 'Name':'Marta', 'Age':29, 'Phone':223344.<br>friend3 with 'Name':'Mark', 'Age':45, 'Phone':333444.

In [47]:
friend1 = {'Name': 'David', 'Age': 34, 'Phone': 556677}
friend2 = {'Name': 'Marta', 'Age': 29, 'Phone': 223344}
friend3 = {'Name': 'Mark', 'Age': 45, 'Phone': 333444}

Print the 'Name' and 'Age' value for friend1.

In [53]:
print(friend1['Name'])
print(friend1['Age'])

David
34

Print the complete friend2 dictionary.

In [54]:
print(friend2)

{'Name': 'Marta', 'Age': 29, 'Phone': 223344}

Add the following information to friend1, friend2, friend3: David 'Birthday' is '3.6', Marth 'Birthday' is '22.4', Mark 'Birthday' is '20.1'.

In [55]:
friend1['Birthday'] = '3/6'
friend2['Birthday'] = '22/4'
friend3['Birthday'] = '20/1'

Print friend1, friend2, friend3.

In [56]:
print(friend1, friend2, friend3)

{'Name': 'David', 'Age': 34, 'Phone': 556677, 'Birthday': '3/6'} {'Name': 'Marta', 'Age': 29, 'Phone': 223344, 'Birthday': '22/4'} {'Name': 'Mark', 'Age': 45, 'Phone': 333444, 'Birthday': '20/1'}

Update friend2 phone number to: '112233'.

In [57]:
friend2['Phone'] = '112233'

Remove 'Phone' from friend1 and print the updated dictionaries.

In [58]:
del friend1['Phone']
print(friend1)

{'Name': 'David', 'Age': 34, 'Birthday': '3/6'}

Create an empty list variable called myFriends.

In [60]:
myFriends = []

Add the three dictionaries: friend1, friend2, friend3 to the myFriends list.

In [61]:
myFriends.append(friend1)
myFriends.append(friend2)
myFriends.append(friend3)

Print the first item in the myFriends list and then print just the 'Name' of the second item in the list."

In [62]:
print(myFriends[0])
print(myFriends[2]['Name'])

{'Name': 'David', 'Age': 34, 'Birthday': '3/6'}
Mark

Loop through the myFriends list and check which friend is the oldest and print his/her name.

In [63]:
oldest = 0
for friend in myFriends:
    if friend['Age'] > oldest:
        oldest = friend['Age']
        name = friend['Name']
        
print(name)

Mark

### Step 6 - Classes, Objects, Attributes, and Methods

Define a new class called: Book with the following definition: 
1. Attributes to be initalized during a new object creation: name, author, pages, price.
2. One method called update_price that will get as a parameter an updated price and adjust the object price attribute.

In [64]:
class Book:
    def __init__(self, name, author, pages, price):
        self.name = name
        self.author = author
        self.pages = pages
        self.price = price
        
    def update_price(self, new_price):
        self.price = new_price

Create two objects from the new class: book1, book2 with the following info:
1. book1: 'Python for Begineers', 'David', 240, 99
2. book2: 'Machine Learning for Begineers', 'Marta',320, 199

In [65]:
book1 = Book('Python for Beginners', 'David', 240, 99)
book2 = Book('Machine Learning for Beginners', 'Marta', 320, 199)

Print the name and price of book1.

In [66]:
print(f'Name: {book1.name}, Price: {book1.price}')

Name: Python for Beginners, Price: 99

Update the price of book1 to 79 using the object method and print the name and price again.

In [67]:
book1.update_price(79)
print(f'Name: {book1.name}, Price: {book1.price}')

Name: Python for Beginners, Price: 79

### Step 7 - Importing Modules

Import the following modules:
1. random module with alias rd
2. math module 
3. statistics module

In [69]:
import random as rd
import math
import statistics as st

Generate 10 random integer numbers between 0 to 20 and store them in a list variable called myrandom. Print the new list.

In [72]:
myrandom = []

for i in range(10):
    random_num = rd.randint(0, 20)
    myrandom.append(random_num)
    
print(myrandom)

[18, 11, 13, 6, 4, 12, 19, 5, 20, 12]

Calculate and print the following calculation : sin(0.5*pi) * (2^8).

In [74]:
math.sin(0.5 * math.pi) * math.pow(2, 8)

256.0

Print the arithmetic mean and the standard deviation of the numbers in the myrandom list.

In [75]:
st.mean(myrandom)
st.stdev(myrandom)

5.773502691896258

### End of document
************************