# NumPy

In [62]:
# Importing NumPy and printing version
import numpy as np
print(np.__version__)

1.21.5

In [63]:
# Exercise 1
#  Check if ALL values of each array evaluate to True
A = np.array([[3, 2, 1, 4],
              [5, 2, 1, 6]])

B = np.array([[3, 2, 1, 4],
              [5, 2, 0, 6]])

C = np.array([[True, False, False],
              [True, True, True]])

D = np.array([0.1, 0.3])

# Solution
print(
    f'A: {np.all(A)}\nB: {np.all(B)}\nC: {np.all(C)}\nD: {np.all(D)}'
)

# Alternative solution
# for name, array in zip(list('ABCD'), [A, B, C, D]):
#     print(f'{name}: {np.all(array)}')

A: True
B: False
C: False
D: True

In [64]:
# Exercise 2
#  Check if ALL elements in the following arrays return True along the axis with index 1

A = np.array([[3, 2, 1, 4],
              [5, 2, 1, 6]])

B = np.array([[3, 2, 1, 4],
              [5, 2, 0, 6]])

C = np.array([[True, False, False],
              [True, True, True]])

for name, array in zip(list('ABC'), [A, B, C]):
    print(f'{name}: {np.all(array, axis = 1)}')

A: [ True  True]
B: [ True False]
C: [False  True]

In [65]:
# Exercise 3
#  Check if ANY element in the following arrays returns True

A = np.array([[0, 0, 0],
              [0, 0, 0]])

B = np.array([[0, 0, 0],
              [0, 1, 0]])

C = np.array([[False, False, False],
              [True, False, False]])

D = np.array([[0.1, 0.0]])

for name, array in zip(list('ABCD'), [A, B, C, D]):
    print(f'{name}: {np.any(array)}')

A: False
B: True
C: True
D: True

In [66]:
# Exercise 4
#  Check if ANY element in the following arrays returns True along axis 0

A = np.array([[0, 0, 0],
              [0, 0, 0]])

B = np.array([[0, 0, 0],
              [0, 1, 0]])

C = np.array([[False, False, False],
              [True, False, False]])

D = np.array([[0.1, 0.0]])

for name, array in zip(list('ABCD'), [A, B, C, D]):
    print(f'{name}: {np.any(array, axis = 0)}')

A: [False False False]
B: [False  True False]
C: [ True False False]
D: [ True False]

In [67]:
# Exercise 5
#  Check if the following array has any missing data (np.nan)

A = np.array([[3, 2, 1, np.nan],
              [5, np.nan, 1, 6]])

print(np.isnan(A))

[[False False False  True]
 [False  True False False]]

In [68]:
# Exercise 6
#  Check if the following arrays are equivalent (element-wise)

A = np.array([0.4, 0.5, 0.3])
B = np.array([0.39999999, 0.5000001, 0.3])

print(np.allclose(A, B))

True

In [69]:
# Exercise 7
#  Check if the previous arrays are equivalent (element-wise) using the equivalence operator

print(A == B)

[False False  True]

In [ ]:
# Exercise 8
#  Check which elements of A are greater than elements of B

A = np.array([0.4, 0.5, 0.3, 0.9])
B = np.array([0.38, 0.51, 0.3, 0.91])

print(A > B)

In [72]:
# Exercise 9
#  Create a 4x4 array filled with 0s with type 'int'

print(np.zeros((4, 4), dtype = int))

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

In [74]:
# Exercise 10
#  Create a 10x10 array filled with 255s with type 'float'

print(np.full((10, 10), fill_value = 255, dtype = float))

array([[255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.],
       [255., 255., 255., 255., 255., 255., 255., 255., 255., 255.]])

In [78]:
# Exercise 11
#  Create a one-dimensional array of all two-digit numbers

print(np.arange(10, 100))

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57
 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81
 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99]

In [80]:
# Exercise 12
#  Turn the result of Exercise 11 into a 9x10 array

tmp = np.arange(10, 100)
print(tmp.reshape(9, 10))

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]

In [85]:
# Exercise 13
#  Create a 6x6 identity matrix with the int data type

print(np.eye(6, 6, dtype = int))

[[1 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 1 0 0 0]
 [0 0 0 1 0 0]
 [0 0 0 0 1 0]
 [0 0 0 0 0 1]]

In [86]:
# Exercise 14
#  Set seed to 10, then create a 1D array consisting of 30 randomly generated values from the uniform distribution [0, 1)

np.random.seed(10)

print(np.random.rand(30))

[0.77132064 0.02075195 0.63364823 0.74880388 0.49850701 0.22479665
 0.19806286 0.76053071 0.16911084 0.08833981 0.68535982 0.95339335
 0.00394827 0.51219226 0.81262096 0.61252607 0.72175532 0.29187607
 0.91777412 0.71457578 0.54254437 0.14217005 0.37334076 0.67413362
 0.44183317 0.43401399 0.61776698 0.51313824 0.65039718 0.60103895]

In [87]:
# Exercise 15
#  Set the random seed to 20 and create a 10x4 randomly generated array from the standard normal distribution N(0, 1)

np.random.seed(20)

print(np.random.randn(10, 4))

[[ 0.88389311  0.19586502  0.35753652 -2.34326191]
 [-1.08483259  0.55969629  0.93946935 -0.97848104]
 [ 0.50309684  0.40641447  0.32346101 -0.49341088]
 [-0.79201679 -0.84236793 -1.27950266  0.24571517]
 [-0.0441948   1.56763255  1.05110868  0.40636843]
 [-0.1686461  -3.18970279  1.12013226  1.33277821]
 [-0.24333877 -0.13003071 -0.10901737  1.55618644]
 [ 0.12877835 -2.06694872 -0.88549315 -1.10457948]
 [ 0.93286635  2.059838   -0.93493796 -1.61299022]
 [ 0.52706972 -1.55110074  0.32961334 -1.13652654]]

In [88]:
# Exercise 16
#  Set the random seed to 30 and create a 10x4 array with values randomly generated from N(100, 5)
import math

np.random.seed(30)

print(100 + math.sqrt(5) * np.random.randn(10, 4))

[[ 97.17349231 103.41650023  97.82942436 101.05220329]
 [ 99.7748353  100.67930221  96.14063068 103.544381  ]
 [100.30029631  97.52499594 103.52901961 100.24037271]
 [ 98.29153712  98.2666258  103.09437633 101.70027274]
 [ 99.36127721 101.20382627  95.34026547 102.09694365]
 [ 99.98708001  98.95468525  99.05410904 102.38025432]
 [ 93.50787269 103.61547679 103.18753701  98.51356237]
 [102.20256689  96.19764407  97.54000366  97.05813038]
 [101.81233513  97.66380453  98.45883627  98.09317768]
 [102.48979932  95.70413391  98.43161651 101.89861815]]

In [89]:
# Exercise 17
#  Iterate over all elements of the given array and print each element to the console

A = np.array([[1, 4, 3],
              [5, 2, 6]])

for x in np.nditer(A):
    print(x)

1
4
3
5
2
6

In [91]:
# Exercise 18
#  Create a 1D vector consisting of 11 evenly distributed numbers in the [0, 1] interval

print(np.linspace(0.0, 1.0, num = 11))

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

In [96]:
# Exercise 19
#  Create a 1D array with the possible results from the Big Lotto game; set the random seed to 42
#  The result of the Big Lotto game is a 6 element vector with numbers between 1 and 49 inclusive

np.random.seed(42)

print(np.random.choice(range(1, 50), size = 6, replace = False))

[14 46 48 45 18 28]

In [100]:
# Exercise 20
#  Create a 2D array with diagonals containing the given array

A = np.array(range(0, 6))

print(np.diag(A))

array([[0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0],
       [0, 0, 0, 3, 0, 0],
       [0, 0, 0, 0, 4, 0],
       [0, 0, 0, 0, 0, 5]])

In [114]:
# Exercise 21
#  Create the given array, then same to a binary file named array.npy then load this file back into another variable
#  print the new variable to the console

A = np.array(range(0, 12)).reshape(3, 4)

# np.save(
#     '/Users/darrenwong//Documents/Projects/kaggle/udemy-courses/2-numpy-pandas-and-scikit-learn/inter/array.npy', 
#     A
# )

# B = np.load('/Users/darrenwong//Documents/Projects/kaggle/udemy-courses/2-numpy-pandas-and-scikit-learn/inter/array.npy')

# print(B)

In [115]:
# Exercise 22
#  Save the previously created array to a text file named array.txt with 2 decimal places, then load it back in another variable

# np.savetxt(
#     '/Users/darrenwong//Documents/Projects/kaggle/udemy-courses/2-numpy-pandas-and-scikit-learn/inter/array.txt', 
#     A,
#     fmt = '%1.2f'
# )

# B = np.loadtxt('/Users/darrenwong//Documents/Projects/kaggle/udemy-courses/2-numpy-pandas-and-scikit-learn/inter/array.txt')

# print(B)

In [ ]:
# Exercise 23
#  Convert the previously provided array to a list

print(A.tolist())

In [120]:
# Exercise 24
#  Use the slice operator to reverse the order of the rows in the previously provided array

print(A[::-1]) # or
print(np.flip(A, axis=0))

[[ 8  9 10 11]
 [ 4  5  6  7]
 [ 0  1  2  3]]
[[ 8  9 10 11]
 [ 4  5  6  7]
 [ 0  1  2  3]]

In [129]:
# Exercise 25
#  Take a 4x4 array of 1.0s and pad it with a single layer of 0.0s

A = np.ones((4, 4))

print(np.pad(A, 1, constant_values=0))

[[0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [133]:
# Exercise 26
#  Take a 6x6 array of zeroes and replace every odd numbered column with B; use the slice operator

A = np.zeros((6, 6))
B = [10, 5, 10, 5, 10, 5]

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [ ]:
# Exercise 27
#

In [ ]:
# Exercise 28
#

In [ ]:
# Exercise 29
#

In [ ]:
# Exercise 30
#

In [ ]:
# Exercise 31
#

In [ ]:
# Exercise 32
#

In [ ]:
# Exercise 33
#

In [ ]:
# Exercise 34
#